if SHIELD_TOUCAN36_LEFT

config ZMK_KEYBOARD_NAME
    default "Toucan36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y

endif



if SHIELD_TOUCAN36_LEFT || SHIELD_TOUCAN36_RIGHT

config SPI
    default y

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

config INPUT_THREAD_PRIORITY_OVERRIDE
    default y

config INPUT_THREAD_PRIORITY
    default 8

config INPUT_THREAD_STACK_SIZE
    default 2048

config RGBLED_WIDGET_BATTERY_LEVEL_HIGH
    default 40

endif
